

<div class="wrapper wrapper-full-page">
  <div class="page-header lock-page header-filter" style="background-image: url('./assets/img/lock.jpg'); background-size: cover; background-position: top center;">
    <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->
    <div class="container">
      <div class="row">
        <div class="col-md-4 ml-auto mr-auto">
          <div class="card card-profile text-center card-hidden">
            <div class="card-header ">
              <!-- <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="./assets/img/faces/avatar.jpg">
                </a>
              </div> -->
            </div>
            <div class="card-body ">
              <h4 class="card-title">Loading...</h4>
            </div>
            <!-- <div class="card-footer justify-content-center">
              <a href="#pablo" class="btn btn-rose btn-round">Unlock</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer class="footer ">
    <div class="container">
      <nav class="pull-left">
        <ul>

          <li>
            <a >
              About Us
            </a>
          </li>
          <li>
            <a>
              Blog
            </a>
          </li>
          <li>
            <a >
              Licenses
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright pull-right">
        &copy;
          {{test | date: 'yyyy'}}, Hammer IT
      </div>
    </div>
  </footer>
</div>
