.table-custom-width {
    width: 9%;
    min-width: 130px;
}

.custom-td {
    padding: 20px 8px !important;
    font-size: medium;
    text-align: right;
}

.custom-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}