<div *ngIf="loading" style="width: 100%; height: 100%; background: #EEEEEE; overflow: hidden; z-index: 9999;">
  <div class="lds-dual-ring" [style.display]="loading ? 'block' : 'none'"></div>
</div>
<div class="container-fluid" [style.opacity]="loading ? '0' : '100'">
  <!-- Buttons -->
  <div class="row">
    <div class="col-xl-4"></div>
    <div class="col-xl-8">
      <div class="pull-right">
        <button mat-raised-button class="btn btn-dark btn-raised" (click)="openEditProject()"
          matTooltip="Project bewerken" [matTooltipPosition]="'above'">
          <span class="material-icons">edit</span>
          <span class="mat-button-wrapper">
          </span>
        </button>

        <button style="background:linear-gradient(60deg, #66bb6a, #43a047)" mat-raised-button
          class="btn btn-base mat-raised-button mat-button-base" (click)="download()"
          matTooltip="Project rapport downloaden" [matTooltipPosition]="'above'">
          <span class="material-icons">get_app</span>
        </button>
      </div>

    </div>
  </div>

  <!-- First Row -->
  <div class="row">
    <!-- Project gegevens -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-vvt card-header-text">
          <div class="card-text">
            <h4 class="card-title">Project gegevens</h4>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <label class="col-sm-3 col-form-label">Naam</label>
              <div class="col-md-9">
                <mat-form-field>
                  <input matInput type="text" value="{{project.name}}" disabled>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-3 col-form-label">Kenmerk</label>
              <div class="col-md-9">
                <mat-form-field>
                  <input matInput type="text" value="{{project.number}}" disabled>
                </mat-form-field>
              </div>
              <label class="col-sm-3 col-form-label">Locatie</label>
              <div class="col-md-9">
                <mat-form-field>
                  <input matInput type="text" value="{{project.location}}" disabled>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-3 col-form-label">Aangemaakt op</label>
              <div class="col-md-3">
                <mat-form-field>
                  <input matInput type="text" value="{{timestampToLocaleDate(project.createdAt)}}" disabled>
                </mat-form-field>
              </div>
              <label *ngIf="this.project.updatedAt" class="col-sm-3 col-form-label">Bewerkt op</label>
              <div class="col-md-3" *ngIf="this.project.updatedAt">
                <mat-form-field>
                  <input matInput type="text" value="{{timestampToLocaleDate(this.project.updatedAt)}}" disabled>
                </mat-form-field>
              </div>
              <!-- <label class="col-sm-3 col-form-label">Versie nummer</label>
                  <div class="col-md-3">
                    <mat-form-field >
                      <input matInput type="text" value="{{this.project.version}}" disabled>
                    </mat-form-field>
                  </div> -->
            </div>


            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>

    <!-- Emissie gegevens -->
    <div class="col-md-6">

      <div class="card">
        <div class="card-header card-header-vvt card-header-text">
          <div class="card-text">
            <h4 class="card-title">Emissie gegevens</h4>
          </div>

        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <label class="col-sm-3 col-form-label">CO<p class="d-inline-block mr-4" style="font-size: 0.7rem;">2</p>
              </label>
              <div class="col-md-9">
                <mat-form-field>
                  <input matInput type="text" value="{{this.emissiePerBrandstof.koolstofdioxide.toFixed(1)}} kg"
                    disabled>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-3 col-form-label">NO<p class="d-inline-block mr-4" style="font-size: 0.7rem;">x</p>
              </label>
              <div class="col-md-9">
                <mat-form-field>
                  <input matInput type="text" value="{{this.emissiePerBrandstof.stikstof.toFixed(1)}} kg" disabled>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-3 col-form-label">Brandstof</label>
              <div class="col-md-9">
                <mat-form-field>
                  <input matInput type="text" value=" {{this.totaleVerbruik.toFixed(1)}} l" disabled>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div *ngFor="let fuel of brandstof_dashboard_lijst;" class="col-xl-4 row mx-auto">
                <label *ngIf="fuel.value != '' || fuel.value > 0" class="col-xl-6 col-form-label">{{fuel.name}}</label>
                <mat-form-field *ngIf="fuel.value != '' || fuel.value > 0" class="example-full-width col-xl-6">
                  <input matInput type="text" value=" {{fuel.value}} l" disabled>
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>

  </div>


      <!-- vierde rij -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-vvt">
              <h4 class="card-title">Voertuigen</h4>
              <p> Selecteer een voertuig uit de tabel om zijn werkzaamheden en motorgegevens te zien.</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table custom-table-width table-hover table-striped">
                  <thead>
                    <th>
  
                    </th>
                    <th>
                      Voertuig
                    </th>
                    <th class=" text-right table-custom-width custom-padding">
                      <!-- ltr per -->
                    </th>
                    <th class=" text-right table-custom-width custom-padding">
                      CO2
                    </th>
                    <th class=" text-right table-custom-width custom-padding">
                      NOₓ
                    </th>
                    <th class=" text-right table-custom-width custom-padding">
                      Brandstof
                    </th>
                    <th class=" table-custom-width">
                      <!-- ltr per -->
                    </th>
                    <th class=" table-custom-width">
                      <!-- ltr per -->
                    </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of vehicleEmissions ; let i = index" (click)="selectVehicle(item, i, 'co2')"
                      id="details-co2-voertuig-{{i}}" class="tr-pdetails">
                      <td>
                        {{i + 1}}
                      </td>
                      <td class="">
                        <span class="font-weight-bold" style="pointer-events: none;">
                          {{item.Vehicle.vehicleType + ' - ' + item.Vehicle.brand + ' - ' + item.Vehicle.model + ' - ' +
                          item.Vehicle.vehicleId}}
                        </span>
                      </td>
                      <td class="custom-padding custom-td">
                        rijden: <br>
                        werken: <br>
                        <hr>
                        totaal:
                      </td>
  
                      <td class="custom-padding custom-td">
                        <span class=" font-weight-bold text-xs-right">{{item.Co2Emission.driveEmission.toFixed(1)}}</span>
                        kg<br>
                        <span class=" font-weight-bold text-xs-right">{{item.Co2Emission.turnEmission.toFixed(1)}}</span>
                        kg<br>
                        <hr>
                        <span class=" font-weight-bold text-xs-right">{{item.Co2Emission.totalEmission.toFixed(1)}}</span>
                        kg
                        <!-- (<span class="">{{CO2perc(item)}}</span>%) -->
                      </td>
  
                      <td class="custom-padding custom-td">
                        <span class=" font-weight-bold">{{item.NoxEmission.driveEmission.toFixed(1)}}</span> kg<br>
                        <span class=" font-weight-bold">{{item.NoxEmission.turnEmission.toFixed(1)}}</span> kg<br>
                        <hr>
                        <span class=" font-weight-bold">{{item.NoxEmission.totalEmission.toFixed(1)}}</span> kg
                        <!-- (<span class="">{{NOxperc(item)}}</span>%) -->
                      </td>
 
                      <td class="custom-padding custom-td">
                        <span class="font-weight-bold">{{item.WasteDatils.driveWaste.toFixed(1)}}</span> l<br>
                        <span class="font-weight-bold">{{item.WasteDatils.turnWaste.toFixed(1)}}</span> l<br>
                        <hr>
                        <span class=" font-weight-bold">{{(item.WasteDatils.driveWaste + item.waste.turnWaste).toFixed(1)}}</span> l
                        <!--  (<span class="">{{Verbruikperc(item)}}</span>%) -->
                      </td>
  
                      <td class="custom-padding custom-td text-center">
                        <span class="font-weight-bold">{{item.primaryEngine.fuel}}</span><br>
                        <span class="font-weight-bold">{{item.secondaryEngine.fuel}}</span><br>
                        <hr>
                        <br>
                      </td>
  
                      <td class="custom-padding custom-td" style="padding-right: 2rem !important; min-width: 135px;">
                        <span *ngIf="item.waste.L100KM > 0; else displayNull"
                          class="font-weight-bold">{{item.WasteDatils.L100KM.toFixed(1)}}</span> l/100km<br>
                        <span *ngIf="item.waste.L1U > 0; else displayNull"
                          class="font-weight-bold">{{item.WasteDatils.L1U.toFixed(1)}}
                        </span>
                        <ng-template #displayNull>
                          <span class="font-weight-bold">0.0</span>
                        </ng-template> l/h&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                        <hr>
                        <br>
                      </td>
  
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>