
<!-- VOERTUIG GEGEVENS -->
<div class="row">
<div class="col-md-12">
    <div class="card">
    <div class="card-header card-header-vvt card-header-text">
        <div class="card-text">
        <h4 class="card-title">Voertuig gegevens</h4>
        </div>
    </div>
    <div class="card-body">
        <form>
        <div class="row">
            <div class="col-md-6">
            <mat-form-field>
                <mat-select placeholder="Type voertuig*" name="typeVoertuig" [(ngModel)]="this.vehicle.vehicleType">
                <mat-option *ngFor="let type of TypeVoertuig" [value]="type.value">
                    {{ type.viewValue }}
                </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
            <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Voertuig-ID*" type="text" name="vehicleId"
                [(ngModel)]="this.vehicle.vehicle_ID">
            </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Merk*" type="text" name="brand" [(ngModel)]="this.vehicle.brand">
            </mat-form-field>
            </div>
            <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Model*" type="text" name="model" [(ngModel)]="this.vehicle.model">
            </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Bouwjaar*" type="number" name="modelYear"
                [(ngModel)]="this.vehicle.modelYear">
            </mat-form-field>
            </div>
            <div class="col-5">
            <mat-form-field class="">
                <input matInput placeholder="Gewicht (ton)*" type="number" name="gewicht"
                [(ngModel)]="this.vehicle.weight">
            </mat-form-field>
        
            </div>         
            <div class="col-1 d-flex justify-content-center text-center">
            <div class=" dropup info-icon-box ">
                <i class="material-icons dropdown-toggle pt-2" data-toggle="dropdown" aria-expanded="true">info_outline</i>
                <ul class="dropdown-menu dropdown-primary dropdown-menu-right">
                <li class="dropdown-header">Informatie - Gewicht</li>
                <li [innerHTML]="GEWICHTTIP"></li>
                </ul>
            </div>
            </div>
        </div>
        <div class="clearfix"></div>
        </form>
    </div>
    </div>
</div>
</div>

<!-- MOTOR GEGEVENS -->
<div class="row">
<!-- MOTOR RIJDEN -->
<div class="col-xl-6">
    <div class="card ">
    <div class="card-header card-header-vvt card-header-icon">
        <div class="card-icon">
        <i class="material-icons">settings</i>
        </div>
        <h4 class="card-title float-left">Motorgegevens voor rijden</h4>
    </div>
    <div class="card-body ">
        <form class="form-horizontal">
        <div class="row">
            <div class="col-xl-6">
            <mat-form-field>
                <mat-select placeholder="Emissienorm*" [(ngModel)]="this.vehicle.primaryEngine.emissionNorm"
                (ngModelChange)="switchEmissionClass(1)" name="em1">
                <mat-option *ngFor="let item of EmissieNorm" [value]="item.value">
                    {{ item.viewValue }}
                </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
            <div class="col-xl-6">
            <mat-form-field>
                <mat-select placeholder="Emissieklasse*" [(ngModel)]="this.vehicle.primaryEngine.emissionClass"
                name="ek1">
                <mat-option *ngFor="let item of EK" [value]="item.value">
                    {{ item.viewValue }}
                </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
        </div>
        <div class="row">
        <div class="col-5">
            <mat-form-field>
            <mat-select placeholder="Type aandrijving*" [(ngModel)]="this.vehicle.primaryEngine.driveType"
                name="typeaandrijving1">
                <mat-option *ngFor="let item of typeAandrijving" [value]="item.value">
                {{ item.viewValue }}
                </mat-option>
            </mat-select>
            </mat-form-field>
        </div>
        <div class="col-1 d-flex justify-content-center text-center">
            <div class=" dropup info-icon-box">
            <i class="material-icons dropdown-toggle" data-toggle="dropdown" aria-expanded="true">info_outline</i>
            <ul class="dropdown-menu dropdown-primary dropdown-menu-left">
                <li class="dropdown-header">Informatie - Aandrijving</li>
                <li [innerHTML]="AANDRIJVINGTIP"></li>
            </ul>
            </div>
        </div>
        <div class="col-xl-6">
            <mat-form-field>
            <mat-select placeholder="Brandstof*" [(ngModel)]="this.vehicle.primaryEngine.fuel"
                name="brandstof1">
                <mat-option *ngFor="let item of typeBrandstof" [value]="item.value">
                {{ item.viewValue }}
                </mat-option>
            </mat-select>
            </mat-form-field>
        </div>
        </div>          
        <div class="row">
            <div class="col-6">
            <mat-form-field class="example-full-width">
                <input matInput type="number" placeholder="Vermogen (kW)*" max="999" min="0"
                [(ngModel)]="this.vehicle.primaryEngine.power" name="vermogen1">
            </mat-form-field>
            </div>          
        
            <div class="col-5">
            <mat-form-field class="example-full-width">
                <mat-select name="roetfilter1" placeholder="Additioneel filter?"
                [(ngModel)]="this.vehicle.primaryEngine.hasSootFilter">
                <mat-option [value]="true">
                    Ja
                </mat-option>
                <mat-option [value]="false">
                    Nee
                </mat-option>
                </mat-select>
            </mat-form-field>
            </div>                         
            <div class="col-1 d-flex justify-content-center text-center">
            <div class=" dropup info-icon-box">
                <i class="material-icons dropdown-toggle" data-toggle="dropdown" aria-expanded="true">info_outline</i>
                <ul class="dropdown-menu dropdown-primary dropdown-menu-left">
                <li class="dropdown-header">Informatie - Additionele filter</li>
                <li [innerHTML]="FILTERTIP"></li>
                </ul>
            </div>
            </div>
        </div>
        </form>
    </div>

    </div>
</div>

<!-- MOTOR WERKZAAMHEDEN -->
<div class="col-xl-6">
    <div class="card ">
    <div class="card-header card-header-vvt card-header-icon">
        <div class="card-icon">
        <i class="material-icons">settings</i>
        </div>

        <div class="togglebutton">
        <div class="row">
            <label class="card-title float-left">
            <input type="checkbox" (click)="toggleSecundaireMotor()">
            <span class="toggle"></span>
            <span *ngIf="!heeftSecundaireMotor" style="margin-right: 20px;">(uit)</span>
            <span *ngIf="heeftSecundaireMotor" style="margin-right: 20px;">(aan)</span>
            <h4 style="display: inline-block;">Motorgegevens voor werkzaamheden</h4>
            </label>
            <div class="dropup info-icon-box">
            <i class="material-icons dropdown-toggle" data-toggle="dropdown" aria-expanded="true">info_outline</i>
            <ul class="dropdown-menu dropdown-primary dropdown-menu-left">
                <li class="dropdown-header">Informatie - Motor werkzaamheden</li>
                <li [innerHTML]="MOTORWERKZAAMHEDENTIP"></li>
            </ul>
            </div>
        </div>
        </div>

    </div>
    <div class="card-body" *ngIf="heeftSecundaireMotor">
        <form class="form-horizontal">
        <div class="row">
            <div class="col-xl-6">
            <mat-form-field>
                <mat-select placeholder="Emissienorm*" [(ngModel)]="this.vehicle.secundairyEngine.emissionNorm"
                (ngModelChange)="switchEmissionClass(2)" name="em2">
                <mat-option *ngFor="let item of EmissieNorm" [value]="item.value">
                    {{ item.viewValue }}
                </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
            <div class="col-xl-6">
            <mat-form-field>
                <mat-select placeholder="Emissieklasse*" [(ngModel)]="this.vehicle.secundairyEngine.emissionClass"
                name="ek2">
                <mat-option *ngFor="let item of EK2" [value]="item.value">
                    {{ item.viewValue }}
                </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
            <mat-form-field>
                <mat-select placeholder="Type aandrijving*" [(ngModel)]="this.vehicle.secundairyEngine.driveType"
                name="typeaandrijving2">
                <mat-option *ngFor="let item of typeAandrijving" [value]="item.value">
                    {{ item.viewValue }}
                </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
            <div class="col-1 d-flex justify-content-center text-center">
            <div class=" dropup info-icon-box">
                <i class="material-icons dropdown-toggle" data-toggle="dropdown" aria-expanded="true">info_outline</i>
                <ul class="dropdown-menu dropdown-primary dropdown-menu-left">
                <li class="dropdown-header">Informatie - Aandrijving</li>
                <li [innerHTML]="AANDRIJVINGTIP"></li>
                </ul>
            </div>
            </div>
            <div class="col-xl-6">
            <mat-form-field>
                <mat-select placeholder="Brandstof*" [(ngModel)]="this.vehicle.secundairyEngine.fuel"
                name="brandstof2">
                <mat-option *ngFor="let item of typeBrandstof" [value]="item.value">
                    {{ item.viewValue }}
                </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
            <mat-form-field class="example-full-width">
                <input matInput type="number" placeholder="Vermogen (kW)*" max="9999" min="0"
                [(ngModel)]="this.vehicle.secundairyEngine.power" name="vermogen2">
            </mat-form-field>
            </div>
            <div class="col-1 d-flex justify-content-center text-center">
            <div class=" dropup info-icon-box">
                <i class="material-icons dropdown-toggle" data-toggle="dropdown" aria-expanded="true">info_outline</i>
                <ul class="dropdown-menu dropdown-primary dropdown-menu-left">
                <li class="dropdown-header">Informatie - Vermogen</li>
                <li [innerHTML]="VERMOGENTIP"></li>
                </ul>
            </div>
            </div> 
        
            <div class="col-5">
            <mat-form-field class="example-full-width">
                <mat-select name="roetfilter2" placeholder="Additioneel filter?"
                [(ngModel)]="this.vehicle.secundairyEngine.hasSootFilter">
                <mat-option [value]="true">
                    Ja
                </mat-option>
                <mat-option [value]="false">
                    Nee
                </mat-option>
                </mat-select>
            </mat-form-field>
            </div>         
            <div class="col-1 d-flex justify-content-center text-center">
            <div class=" dropup info-icon-box">
                <i class="material-icons dropdown-toggle" data-toggle="dropdown" aria-expanded="true">info_outline</i>
                <ul class="dropdown-menu dropdown-primary dropdown-menu-right">
                <li class="dropdown-header">Informatie - Additioneel filter</li>
                <li [innerHTML]="FILTERTIP"></li>
                </ul>
            </div>
            </div>
        
        </div>

        </form>
    </div>
    <!--disabled wanneer er geen secundaire motor is  -->
    <div *ngIf="!heeftSecundaireMotor" class="card-body">
        <form class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
            <mat-form-field>
                <mat-select disabled placeholder="Emissienorm*"
                [(ngModel)]="this.vehicle.secundairyEngine.emissionNorm" (ngModelChange)="switchEmissionClass(2)"
                name="em2">
                <mat-option *ngFor="let item of EmissieNorm" [value]="item.value">
                    {{ item.viewValue }}
                </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
            <div class="col-md-6">
            <mat-form-field>
                <mat-select disabled placeholder="Emissieklasse*"
                [(ngModel)]="this.vehicle.secundairyEngine.emissionClass" name="ek2">
                <mat-option *ngFor="let item of EK2" [value]="item.value">
                    {{ item.viewValue }}
                </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            <mat-form-field>
                <mat-select disabled placeholder="Type aandrijving*"
                [(ngModel)]="this.vehicle.secundairyEngine.driveType" name="typeaandrijving2">
                <mat-option *ngFor="let item of typeAandrijving" [value]="item.value">
                    {{ item.viewValue }}
                </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
            <div class="col-md-6">
            <mat-form-field>
                <mat-select disabled placeholder="Brandstof*" [(ngModel)]="this.vehicle.secundairyEngine.fuel"
                name="brandstof2">
                <mat-option *ngFor="let item of typeBrandstof" [value]="item.value">
                    {{ item.viewValue }}
                </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input disabled matInput type="number" placeholder="Vermogen (kW)*" max="999" min="0"
                [(ngModel)]="this.vehicle.secundairyEngine.power" name="vermogen2">
            </mat-form-field>
            </div>
            <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-select disabled name="roetfilter2"
                placeholder="Additioneel filter?"
                [(ngModel)]="this.vehicle.secundairyEngine.hasSootFilter">
                <mat-option [value]="true">
                    ja
                </mat-option>
                <mat-option [value]="false">
                    nee
                </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
        </div>

        </form>
    </div>
    <!--  -->
    </div>
</div>
</div>

<div class="row pageBtnRow">
<div class="btn-group pull-right">
    <button (click)="addVehicle()" mat-raised-button="" type="button"
    class="btn btn-dark mat-raised-button mat-button-base" style="background-color: #444;">
    <span class="mat-button-wrapper"> Voertuig toevoegen</span>
    <div matripple="" class="mat-ripple mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
    </button>
</div>
</div>
