
<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('./assets/img/login-crane.jpg'); background-size: cover;">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <form class="form"[formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
            <div class="card card-login">
              <div class="card-header card-header-rose text-center">
                <h4 class="card-title">Log in</h4>
              </div>
              <!-- <div class="card-body ">
                <mat-form-field>
                  <label>
                    <input matInput placeholder="Username" formControlName="username"  value="geert"
                           [errorStateMatcher]="matcher">
                  </label>
                  <mat-error>
                    <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">Please enter Username</span>
                  </mat-error>
                </mat-form-field>
                <mat-form-field >
                  <label>
                    <input type="password" matInput placeholder="Password" formControlName="password" value="test123"
                           [errorStateMatcher]="matcher">
                  </label>
                  <mat-error>
                    <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Please enter Password</span>
                  </mat-error>
                </mat-form-field>
              </div> -->
              <div class="card-footer justify-content-center">
                <button type="submit" class="btn btn-rose btn-link btn-lg">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <footer class="footer ">
      <div class="container">
        <nav class="pull-left">
          <ul>
 
            <li>
              <a >
                About Us
              </a>
            </li>
            <li>
              <a >
                Blog
              </a>
            </li>
            <li>
              <a >
                Licenses
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright pull-right">
          &copy;
            {{test | date: 'yyyy'}}, Hammer IT
        </div>
      </div>
    </footer>
  </div>
</div>
