
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">list</i>
                </div>
                <h4 class="card-title">Wagenpark</h4>
            </div>
            <div class="card-body">
                <div class="toolbar">
                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                </div>
                <div class="material-datatables">
                    <table id="vehicle-datatables" class="table table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                        <thead>
                            <tr>
                                <th style="max-width: 1px;"></th>
                                <th>{{ dataTable.headerRow[0] }}</th>
                                <th>{{ dataTable.headerRow[1] }}</th>
                                <th>{{ dataTable.headerRow[2] }}</th>
                                <th>{{ dataTable.headerRow[3] }}</th>
                                <th>{{ dataTable.headerRow[4] }}</th>
                                <th>{{ dataTable.headerRow[5] }}</th>
                                <th>{{ dataTable.headerRow[6] }}</th>

                                <th class="disabled-sorting text-right">{{ dataTable.headerRow[7] }}</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>{{ dataTable.footerRow[0] }}</th>
                                <th>{{ dataTable.footerRow[1] }}</th>
                                <th>{{ dataTable.footerRow[2] }}</th>
                                <th>{{ dataTable.footerRow[3] }}</th>
                                <th>{{ dataTable.footerRow[4] }}</th>
                                <th>{{ dataTable.footerRow[5] }}</th>
                                <th>{{ dataTable.footerRow[6] }}</th>

                                <th class="text-right">{{ dataTable.footerRow[7] }}</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr *ngFor="let row of dataTable.dataRows; let i = index" id="wagenpark{{row[7]}}" class="tr-wagenpark" >
                                <td (click)="selectVehicle(row[7])">{{row[0] + 1}}</td>
                                <td (click)="selectVehicle(row[7])">{{row[1]}}</td>
                                <td (click)="selectVehicle(row[7])">{{row[2]}}</td>
                                <td (click)="selectVehicle(row[7])">{{row[3]}}</td>
                                <td (click)="selectVehicle(row[7])">{{row[4]}}</td>
                                <td (click)="selectVehicle(row[7])">{{row[5]}}</td>
                                <td (click)="selectVehicle(row[7])">{{row[6]}}</td>

                                <td class="text-right">
                                    <button class="btn btn-link btn-info btn-just-icon like">
                                        <i class="material-icons">edit</i>
                                    </button>

                                    <button href="javascript:void(0)" class="btn btn-link btn-danger btn-just-icon remove" (click)="deleteVehicle(row[7])" mat-raised-button type="button" matTooltip="Verwijderen" [matTooltipPosition]="'above'">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end content-->
        </div>
        <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
</div>
<div class="row" >
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-vvt">
                <h4 class="card-title ">Motor(en)</h4>
                <p class="card-category"> Motor gegevens van het geselecteerde voortuig. Wanneer het voertuig dezelfde motor gebruikt voor zijn werkzaamheden, zal deze gelijk zijn aan motor rijden.</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <th>

                            </th>
                            <th>
                                Norm
                            </th>
                            <th>
                                Klasse
                            </th>
                            <th>
                                Vermogen
                            </th>
                            <th>
                                Aandrijving
                            </th>
                            <th>
                                Brandstof
                            </th>
                            <th>
                                Additioneel filter
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Motor rijden
                                </td>
                                <td>
                                    {{selectedEngine1.emissionNorm}}
                                </td>
                                <td>
                                    {{selectedEngine1.emissionClass}}
                                </td>
                                <td>
                                    {{selectedEngine1.power}} kW
                                </td>
                                <td>
                                    {{selectedEngine1.driveType}}
                                </td>
                                <td>
                                    {{selectedEngine1.fuel}}
                                </td>
                                <td *ngIf="selectedEngine1.hasSootFilter">
                                    ja
                                </td>
                                <td *ngIf="!selectedEngine1.hasSootFilter">
                                    nee
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Motor werkzaamheden
                                </td>
                                <td>
                                    {{selectedEngine2.emissionNorm}}
                                </td>
                                <td>
                                    {{selectedEngine2.emissionClass}}
                                </td>
                                <td>
                                    {{selectedEngine2.power}} kW
                                </td>
                                <td>
                                    {{selectedEngine2.driveType}}
                                </td>
                                <td>
                                    {{selectedEngine2.fuel}}
                                </td>
                                <td *ngIf="selectedEngine2.hasSootFilter">
                                    ja
                                </td>
                                <td *ngIf="!selectedEngine2.hasSootFilter">
                                    nee
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>