<button mat-raised-button type="submit" class="btn btn-fill" style="background-color: #444;"  data-toggle="modal" data-target="#chooseVehicleModal1">Voertuig toevoegen</button>

<!-- Choose vehicle Modal 1 -->
<div class="modal fade" id="chooseVehicleModal1" tabindex="-1" role="dialog" aria-labelledby="chooseVehicleModal1"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Voertuig toevoegen</h4>
        <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="material-icons">clear</i>
        </button>
      </div>
      <div class="card" style="box-shadow: none; overflow: auto;">
        <div class="card-body">
                  
          <div class="row">
            <div class="col-md-12">
              <mat-form-field data-toggle="modal" data-target="#chooseVehicleModal2">
                <mat-select placeholder="Kies voertuig uit wagenpark*" name="voertuig"></mat-select>
              </mat-form-field>
            </div>
          </div>


        <div class="row">
          <!-- VOERTUIG GEGEVENS -->
          <div class="col-xl-6">
            <div class="card">
              <div class="card-header card-header-vvt card-header-text">
                <div class="card-text">
                  <h4 class="card-title">Voertuig gegevens</h4>
                </div>
              </div>
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-select placeholder="Type voertuig" name="typeVoertuig" [(ngModel)]="this.vehicle.vehicleType">
                          <mat-option *ngFor="let type of typeVoertuig" [value]="type.value">
                            {{ type.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Voertuig-ID" type="text" name="vehicleId"
                          [(ngModel)]="this.vehicle.vehicle_ID">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Merk" type="text" name="brand" [(ngModel)]="this.vehicle.brand">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Model" type="text" name="model" [(ngModel)]="this.vehicle.model">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Bouwjaar" type="number" name="modelYear"
                          [(ngModel)]="this.vehicle.modelYear">
                      </mat-form-field>
                    </div>
                    <div class="col-5">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Gewicht (ton)" type="number" name="gewicht"
                          [(ngModel)]="this.vehicle.weight">
                      </mat-form-field>
                    </div>
                    <div class="col-1 d-flex justify-content-center text-center">
                      <div class=" dropup info-icon-box ">
                        <i class="material-icons dropdown-toggle pt-2" data-toggle="dropdown" aria-expanded="true">info_outline</i>
                        <ul class="dropdown-menu dropdown-primary dropdown-menu-right">
                          <li class="dropdown-header">Informatie - Gewicht</li>
                          <li [innerHTML]="GEWICHTTIP"></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>

            </div>
          </div>
          <!-- WERKZAAMHEDEN -->
          <div class="col-xl-6">
            <div class="card">
              <div class="card-header card-header-vvt card-header-text">
                <div class="card-text">
                  <h4 class="card-title">Werkzaamheden</h4>
                </div>
              </div>
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Beschrijving*" type="text" [(ngModel)]="new_activity.description" maxlength="90" name="description">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">

                    <div class="col-5">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Rijafstand (km)*" type="number" [(ngModel)]="new_activity.distance" name="distance">
                      </mat-form-field>
                    </div>
                    <div class="col-1 d-flex justify-content-center text-center">
                      <div class=" dropup info-icon-box">
                        <i class="material-icons dropdown-toggle" data-toggle="dropdown" aria-expanded="true">info_outline</i>
                        <ul class="dropdown-menu dropdown-primary dropdown-menu-left">
                          <li class="dropdown-header">Informatie - Rijafstand</li>
                          <li [innerHTML]="AFSTANDTIP"></li>
                      </ul>
                      </div>
                    </div>
            
              
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Tijdsduur op locatie (uur)" type="number" [(ngModel)]="new_activity.tol" name="tol">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Draaitijd (%)" type="number" [(ngModel)]="new_activity.dtol" name="dtol" min="0" max="100">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-select placeholder="Werkbelasting" [(ngModel)]="new_activity.workload" name="workload">
                          <mat-option *ngFor="let item of werkbelasting" [value]="item.value">
                            {{ item.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>

        </div>


        <div class="row">
          <!-- MOTOR RIJDEN -->
          <div class="col-xl-6">
            <div class="card ">
              <div class="card-header card-header-vvt card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">settings</i>
                </div>
                <h4 class="card-title">Motorgegevens rijden</h4>
              </div>
              <div class="card-body ">
                <form class="form-horizontal">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-select placeholder="Emissienorm" [(ngModel)]="this.vehicle.primaryEngine.emissionNorm"
                          (ngModelChange)="switchEmissionClass(1)" name="em1">
                          <mat-option *ngFor="let item of EmissieNorm" [value]="item.value">
                            {{ item.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-select placeholder="Emissieklasse" [(ngModel)]="this.vehicle.primaryEngine.emissionClass"
                          name="ek1">
                          <mat-option *ngFor="let item of EK" [value]="item.value">
                            {{ item.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">
                      <mat-form-field>
                        <mat-select placeholder="Type aandrijving" [(ngModel)]="this.vehicle.primaryEngine.driveType"
                          name="typeaandrijving1">
                          <mat-option *ngFor="let item of typeAandrijving" [value]="item.value">
                            {{ item.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-1 d-flex justify-content-center text-center">
                      <div class=" dropup info-icon-box">
                        <i class="material-icons dropdown-toggle" data-toggle="dropdown" aria-expanded="true">info_outline</i>
                        <ul class="dropdown-menu dropdown-primary dropdown-menu-left">
                          <li class="dropdown-header">Informatie - Aandrijving</li>
                          <li [innerHTML]="AANDRIJVINGTIP"></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-select placeholder="Brandstof" [(ngModel)]="this.vehicle.primaryEngine.fuel" name="brandstof1">
                          <mat-option *ngFor="let item of typeBrandstof" [value]="item.value">
                            {{ item.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <mat-form-field class="example-full-width">
                        <input matInput type="number" placeholder="Vermogen (kW)" max="999" min="0"
                          [(ngModel)]="this.vehicle.primaryEngine.power" name="vermogen1">
                      </mat-form-field>
                    </div>
                    <div class="col-5">
                      <mat-form-field class="example-full-width">
                        <mat-select name="roetfilter1" placeholder="Additioneel filter?"
                          [(ngModel)]="this.vehicle.primaryEngine.hasSootFilter">
                          <mat-option [value]="true">
                            Ja
                          </mat-option>
                          <mat-option [value]="false">
                            Nee
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-1 d-flex justify-content-center text-center">
                      <div class=" dropup info-icon-box">
                        <i class="material-icons dropdown-toggle" data-toggle="dropdown" aria-expanded="true">info_outline</i>
                        <ul class="dropdown-menu dropdown-primary dropdown-menu-left">
                          <li class="dropdown-header">Informatie - Additionele filter</li>
                          <li [innerHTML]="FILTERTIP"></li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </form>
              </div>

            </div>
          </div>
        <!-- MOTOR WERKZAAMHEDEN -->
          <div class="col-xl-6">
            <div class="card ">
              <div class="card-header card-header-vvt card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">settings</i>
                </div>

                <div class="togglebutton">
                  <div class="row">
                    <label class="card-title float-left">
                      <input id="toggleSecundaireMotor" type="checkbox" (click)="toggleSecundaireMotor()">
                      <span class="toggle"></span>
                      <span *ngIf="!heeftSecundaireMotor" style="margin-right: 20px;">(uit)</span>
                      <span *ngIf="heeftSecundaireMotor" style="margin-right: 20px;">(aan)</span>
                      <h4 style="display: inline-block;">Motorgegevens werkzaamheden</h4>
                    </label>
                    <div class="dropup info-icon-box">
                      <i class="material-icons dropdown-toggle" data-toggle="dropdown" aria-expanded="true">info_outline</i>
                      <ul class="dropdown-menu dropdown-primary dropdown-menu-left">
                        <li class="dropdown-header">Informatie - Motor werkzaamheden</li>
                        <li [innerHTML]="MOTORWERKZAAMHEDENTIP"></li>
                    </ul>
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="card-body" *ngIf="heeftSecundaireMotor">
                <form class="form-horizontal">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-select placeholder="Emissienorm" [(ngModel)]="this.vehicle.secundairyEngine.emissionNorm"
                          (ngModelChange)="switchEmissionClass(2)" name="em2">
                          <mat-option *ngFor="let item of EmissieNorm" [value]="item.value">
                            {{ item.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-select placeholder="Emissieklasse" [(ngModel)]="this.vehicle.secundairyEngine.emissionClass"
                          name="ek2">
                          <mat-option *ngFor="let item of EK2" [value]="item.value">
                            {{ item.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">
                      <mat-form-field>
                        <mat-select placeholder="Type aandrijving" [(ngModel)]="this.vehicle.secundairyEngine.driveType"
                          name="typeaandrijving2">
                          <mat-option *ngFor="let item of typeAandrijving" [value]="item.value">
                            {{ item.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-1 d-flex justify-content-center text-center">
                      <div class=" dropup info-icon-box">
                        <i class="material-icons dropdown-toggle" data-toggle="dropdown" aria-expanded="true">info_outline</i>
                        <ul class="dropdown-menu dropdown-primary dropdown-menu-left">
                          <li class="dropdown-header">Informatie - Aandrijving</li>
                          <li [innerHTML]="AANDRIJVINGTIP"></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-select placeholder="Brandstof" [(ngModel)]="this.vehicle.secundairyEngine.fuel" name="brandstof2">
                          <mat-option *ngFor="let item of typeBrandstof" [value]="item.value">
                            {{ item.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">
                      <mat-form-field class="example-full-width">
                        <input matInput type="number" placeholder="Vermogen (kW)" max="999" min="0"
                          [(ngModel)]="this.vehicle.secundairyEngine.power" name="vermogen2">
                      </mat-form-field>
                    </div>
                    <div class="col-1 d-flex justify-content-center text-center">
                      <div class=" dropup info-icon-box">
                        <i class="material-icons dropdown-toggle" data-toggle="dropdown" aria-expanded="true">info_outline</i>
                        <ul class="dropdown-menu dropdown-primary dropdown-menu-left">
                          <li class="dropdown-header">Informatie - Vermogen</li>
                          <li [innerHTML]="VERMOGENTIP"></li>
                        </ul>
                      </div>
                    </div> 
                    <div class="col-5">
                      <mat-form-field class="example-full-width">
                        <mat-select name="roetfilter2" placeholder="Additioneel filter?"
                          [(ngModel)]="this.vehicle.secundairyEngine.hasSootFilter">

                          <mat-option [value]="true">
                            Ja
                          </mat-option>
                          <mat-option [value]="false">
                            Nee
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-1 d-flex justify-content-center text-center">
                      <div class=" dropup info-icon-box">
                        <i class="material-icons dropdown-toggle" data-toggle="dropdown" aria-expanded="true">info_outline</i>
                        <ul class="dropdown-menu dropdown-primary dropdown-menu-right">
                          <li class="dropdown-header">Informatie - Additioneel filter</li>
                          <li [innerHTML]="FILTERTIP"></li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
              <!--disabled wanneer er geen secundaire motor is  -->
              <div *ngIf="!heeftSecundaireMotor" class="card-body">
                <form class="form-horizontal">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-select disabled placeholder="Emissienorm" [(ngModel)]="this.vehicle.secundairyEngine.emissionNorm"
                          (ngModelChange)="switchEmissionClass(2)" name="em2">
                          <mat-option *ngFor="let item of EmissieNorm" [value]="item.value">
                            {{ item.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-select disabled placeholder="Emissieklasse"
                          [(ngModel)]="this.vehicle.secundairyEngine.emissionClass" name="ek2">
                          <mat-option *ngFor="let item of EK2" [value]="item.value">
                            {{ item.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-select disabled placeholder="Type aandrijving"
                          [(ngModel)]="this.vehicle.secundairyEngine.driveType" name="typeaandrijving2">
                          <mat-option *ngFor="let item of typeAandrijving" [value]="item.value">
                            {{ item.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-select disabled placeholder="Brandstof" [(ngModel)]="this.vehicle.secundairyEngine.fuel"
                          name="brandstof2">
                          <mat-option *ngFor="let item of typeBrandstof" [value]="item.value">
                            {{ item.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input disabled matInput type="number" placeholder="Vermogen (kW)" max="999" min="0"
                          [(ngModel)]="this.vehicle.secundairyEngine.power" name="vermogen2">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-select disabled name="roetfilter2"
                          placeholder="Additioneel filter?"
                          [(ngModel)]="this.vehicle.secundairyEngine.hasSootFilter">
                          <mat-option [value]="true">
                            Ja
                          </mat-option>
                          <mat-option [value]="false">
                            Nee
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                </form>
              </div>
              <!--  -->
            </div>
          </div>
        </div>

        </div>
    </div>

      <div class="modal-footer">
        <button mat-raised-button type="button" class="btn btn-link" (click)="cancelSelect()"
        data-dismiss="modal">Annuleren</button>
        <button mat-raised-button type="button" class="btn btn-success"  (click)="checkFieldsAndAddVehicle()">Toevoegen</button>

      </div>
    </div>
  </div>
</div>
<!-- Choose vehicle Modal 1 -->



<!-- Choose vehicle Modal 2 -->
<div class="modal fade" id="chooseVehicleModal2" tabindex="-1" role="dialog" aria-labelledby="chooseVehicleModal2"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Voertuig selecteren</h4>
        <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="material-icons">clear</i>
        </button>
      </div>
      <div class="card" style="box-shadow: none; overflow: auto;">
        <!-- <div class="card-header card-header-vvt">
            <h4 class="card-title ">Wagenpark</h4>
        </div> -->

        <div class="card-body">
            <div class="material-datatables">
              <table id="wagenpark-table" class="table table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                    <thead>
                        <tr>
                          <th>{{ dataTable.headerRow[0] }}</th>
                          <th>{{ dataTable.headerRow[1] }}</th>
                          <th>{{ dataTable.headerRow[2] }}</th>
                          <th>{{ dataTable.headerRow[3] }}</th>
                          <th>{{ dataTable.headerRow[4] }}</th>
                          <th>{{ dataTable.headerRow[5] }}</th>
                          <th>{{ dataTable.headerRow[6] }}</th>
                        
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                          <th>{{ dataTable.footerRow[0] }}</th>
                          <th>{{ dataTable.footerRow[1] }}</th>
                          <th>{{ dataTable.footerRow[2] }}</th>
                          <th>{{ dataTable.footerRow[3] }}</th>
                          <th>{{ dataTable.footerRow[4] }}</th>
                          <th>{{ dataTable.footerRow[5] }}</th>
                          <th>{{ dataTable.footerRow[6] }}</th>
                         
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let row of dataTable.dataRows;" id="wagenpark{{row[7]}}" class="tr-wagenpark cursor-pointer" (click)="selectVehicle(row[7])" (dblclick)="closeModal2()">
                            <td>{{row[0]}}</td>
                            <td>{{row[1]}}</td>
                            <td>{{row[2]}}</td>
                            <td>{{row[3]}}</td>
                            <td>{{row[4]}}</td>
                            <td>{{row[5]}}</td>
                            <td>{{row[6]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

      <div class="modal-footer">
        <button mat-raised-button type="button" class="btn btn-link" (click)="cancelSelect()"
        data-dismiss="modal">Annuleren</button>
        <button mat-raised-button type="button" class="btn btn-success" data-dismiss="modal">Selecteren</button>
      </div>
    </div>
  </div>
</div>
<!--  End Edit vehicle Modal 2-->