
      <div *ngIf="loading" style="width: 100vw; height: 100vh;background: #EEEEEE;">
          <div class="lds-dual-ring" [style.display]="loading ? 'block' : 'none'"></div> 
        </div>

        <div class="row">
          <div class="col-md-12" *ngIf="!loading">
              <div class="card">
                  <div class="card-header card-header-vvt">
                      <h4 class="card-title ">Project overzicht</h4>
                      <p class="card-category">Klik op een project om naar het dashboard te gaan.</p>
                  </div>
                  <div class="card-body">
                      <div class="material-datatables" *ngIf="dataTable">
                          <table id="project-table" class="table table-no-bordered table-hover tr-projectoverzicht" cellspacing="0" width="100%" style="width:100%">
                              <thead>
                                  <tr>
                                      <th style="max-width: 1px;">{{ dataTable.headerRow[0] }}</th>
                                      <th>{{ dataTable.headerRow[1] }}</th>
                                      <th>{{ dataTable.headerRow[2] }}</th>
                                      <th>{{ dataTable.headerRow[3] }}</th>
                                      <th>{{ dataTable.headerRow[4] }}</th>
                                      <th>{{ dataTable.headerRow[5] }}</th>   
                                      <th></th>
                                  </tr>
                              </thead>
                              <tfoot>
                                  <tr>
                                      <th>{{ dataTable.footerRow[0] }}</th>
                                      <th>{{ dataTable.footerRow[1] }}</th>
                                      <th>{{ dataTable.footerRow[2] }}</th>
                                      <th>{{ dataTable.footerRow[3] }}</th>
                                      <th>{{ dataTable.footerRow[4] }}</th>
                                      <th>{{ dataTable.footerRow[5] }}</th>
                                      <th></th>
                                  </tr>
                              </tfoot>
                              <tbody>
                                  <tr *ngFor="let row of dataTable.dataRows;">
                                      <td routerLink="/project/details/{{row[6]}}">{{row[0]}}</td>
                                      <td routerLink="/project/details/{{row[6]}}">{{row[1]}}</td>
                                      <td routerLink="/project/details/{{row[6]}}">{{row[2]}}</td>
                                      <td routerLink="/project/details/{{row[6]}}">{{row[3]}}</td>
                                      <td routerLink="/project/details/{{row[6]}}">{{row[4]}}</td>
                                      <td routerLink="/project/details/{{row[6]}}" ><span style="display: none;">{{row[5] | date: 'yyyyMMdd'}}</span>{{row[5] | date: 'dd-MM-yyyy'}}</td>
                                      <td class="td-actions text-right">
                                          <button (click)="deleteProject(row[6])" mat-raised-button type="button" matTooltip="Verwijderen" [matTooltipPosition]="'above'" class="btn btn-link btn-sm btn-just-icon">
                                              <i class="material-icons" >delete_forever</i>
                                          </button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
      
                  </div>
              </div>
          </div>
      </div>
