<div class="wrapper wrapper-full-page">
    <div class="page-header login-page header-filter" filter-color="black"
        style="background-image: url('./assets/img/login-crane.jpg'); background-size: cover;">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 ml-auto mr-auto">

                    <div class="card card-login">
                        <div class="card-header card-header-info text-center">
                            <h4 class="card-title">Subscribe to our newsletter</h4>
                        </div>

                        <div class="card-body">
                            <div class="col-12">
                                <p>Leave your email adress and we will get in touch with you as soon as possible.</p>
                                <mat-form-field>
                                    <input matInput placeholder="Email..." [(ngModel)]="this.emailAdress">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="card-footer justify-content-center" >
                            <button type="submit" class="btn btn-success btn-lg" *ngIf="!hideSubscribeBtn"
                                (click)="sendEmail()">Subscribe</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <footer class="footer ">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a >
                                About Us
                            </a>
                        </li>
                        <li>
                            <a >
                                Blog
                            </a>
                        </li>
                        <li>
                            <a >
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy;
                    {{test | date: 'yyyy'}}, Hammer IT
                </div>
            </div>
        </footer>
    </div>
</div>