<!-- Project gegevens -->
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-vvt card-header-text">
          <div class="card-text">
            <h4 class="card-title">Project gegevens</h4>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <label class="col-xl-2 col-form-label">Naam</label>
            <div class="col-xl-9">
              <mat-form-field>
                <input matInput type="text" [(ngModel)]="newProject.name" name="newProjectName">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <label class="col-xl-2 col-form-label">Kenmerk</label>
            <div class="col-xl-9">
              <mat-form-field>
                <input matInput type="text" [(ngModel)]="newProject.number" name="newProjectNumber">
              </mat-form-field>
            </div>
            <label class="col-xl-2 col-form-label">Locatie</label>
            <div class="col-xl-9">
              <mat-form-field>
                <input matInput type="text" [(ngModel)]="newProject.location" name="newProjectLocation">
              </mat-form-field>
            </div>
          </div>
          <hr>
          <h4>Disclaimer</h4>
          <p>{{disclaimer}}</p>
        </div>
      </div>
    </div>
</div>

<!-- Geselecteerde voertuigen -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-vvt card-header-text">
                <div class="card-text">
                    <h4 class="card-title ">Selecteer voertuigen</h4>
                    <p class="card-category">Hier een overzicht van de voertuigen die zijn geselecteerd voor dit project</p>
                </div>
            </div>
            <div class="card-body">
                <div class="toolbar">
                <app-vehicles (vehicleAdded)="onVehicleAdded()"></app-vehicles>
                </div>
                <div class="material-datatables" *ngIf="dataTable">
                <table id="selected-vehicles-table" class="table table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%" >
                    <thead>
                    <tr>
                        <th style="max-width: 1px;">{{ dataTable.headerRow[0] }}</th>
                        <th>{{ dataTable.headerRow[1] }}</th>
                        <th>{{ dataTable.headerRow[2] }}</th>
                        <th>{{ dataTable.headerRow[3] }}</th>
                        <th>{{ dataTable.headerRow[4] }}</th>
                        <th>{{ dataTable.headerRow[5] }}</th>
                        <th>{{ dataTable.headerRow[6] }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>{{ dataTable.footerRow[0] }}</th>
                        <th>{{ dataTable.footerRow[1] }}</th>
                        <th>{{ dataTable.footerRow[2] }}</th>
                        <th>{{ dataTable.footerRow[3] }}</th>
                        <th>{{ dataTable.footerRow[4] }}</th>
                        <th>{{ dataTable.footerRow[5] }}</th>
                        <th>{{ dataTable.footerRow[6] }}</th>
                        <th></th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr *ngFor="let row of dataTable.dataRows; let i = index" id="wagenpark{{row[7]}}" class="tr-wagenpark">
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
                        <td>{{row[5]}}</td>
                        <td>{{row[6]}}</td>
                        <td class="td-actions text-right">
                        <button mat-raised-button type="button" class="btn btn-black btn-link" data-toggle="modal"
                            data-target="#editVehicleModal" (click)="setEditVehicle(i)">
                            <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" class="btn btn-black btn-link"
                            (click)="deleteVoertuig(i)">
                            <i class="material-icons">delete_forever</i>
                        </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pageBtnRow">
    <div class="row" style="width: 100%;">
      <div class="col-md-12">
        <div class="btn-group pull-right">
          <button (click)="checkFields()" mat-raised-button="" type="button"
            class="btn btn-success mat-raised-button mat-button-base">
            <span class="mat-button-wrapper">Opslaan en uitrekenen</span>
          </button>
        </div>
      </div>
    </div>
</div>

